<footer class="text-white flex flex-col gap-14 pr-10 pl-10 pb-28">
  <div class="text-[25px]">
    <h4>Contact</h4>
  </div>
  <div class="flex flex-col gap-6">
    <p>
      I'm currently looking to join a cross-functional team that values
      improving people's lives through accessible design. or have a project in
      mind? Let's connect.
    </p>
    <a class="w-fit" href="mailto:javiazagra12@gmail.com"
      >ibrhaimmemon930@gmail.com</a
    >
    <div class="flex gap-5">
      <img
        src="/assets/instagram.svg"
        alt="Instagram"
        width="18px"
        height="auto"
      />
      <img src="/assets/ball.svg" alt="Ball" width="18px" height="auto" />
      <img src="/assets/google.svg" alt="Google" width="18px" height="auto" />
    </div>
    <div>
      <p>
        Made by <a
          class="underline font-bold"
          href="https://porttales.vercel.app"
          target="_blank"
          rel="noopener noreferrer">PortTales</a
        >
      </p>
    </div>
  </div>
</footer>
