<header
  class="bg-bgheader mx-auto p-8 flex justify-evenly items-center w-full h-22"
>
  <img src="/assets/Logo.svg" alt="Logo" />

  <div class="flex gap-[50px] text-bold text-white text-xl">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Lab</a>
  </div>
</header>
