<section class="py-36 text-white">
  <div class="flex flex-col gap-[100px]">
    <div class="flex gap-[50px]">
      <div class="flex justify-start">
        <img src="/assets/me2.png" alt="Me" />
      </div>
      <div class="flex flex-col gap-0 max-w-[386px] justify-center">
        <h1 class="text-[17px] underline">A Designer who</h1>
        <h2 class="text-[50px]">
          Judges a book by its <span class="text-font2">cover</span>...
        </h2>
        <p class="text-[11px]">
          Because if the cover does not impress you what else can?
        </p>
      </div>
    </div>
    <div class="flex-col gap-2">
      <h2 class="text-[50px]">I'm a Software Engineer!</h2>
      <p class="text-[21px] flex gap-2 items-center">
        Currently, I'm a software Engineer at <img
          class="w-[21px] h-[21px]"
          src="/assets/facebook.png"
          alt="Facebook"
        />
        <a
          class="text-fonta underline"
          href="https://facebook.com"
          target="_blank">Facebook</a
        >
      </p>
    </div>
    <div class="max-w-[892px] text-[21px]">
      <p>
        A self-taught UI/UX designer, functioning in the industry for 3+ years
        now.
      </p>
      <p>
        I make meaningful and delightful digital products that create an
        equilibrium between user needs and business goals.
      </p>
    </div>
  </div>
</section>
